	/* Stack the two content containers */
	.main,
	.sidebar { display:block; width:100%;}

	/* First breakpoint at 576px */
	/* Inherits mobile styles, but floats containers to make columns */
	@media all and (min-width: 36em){
		.main { float: left; width:50%; }
		.sidebar { float: left; width:40%;}
	}
	/* Second breakpoint at 800px */
	/* Adjusts column proportions */
	@media all and (min-width: 50em){
		.main { width:60%; }
		.sidebar { width:30%;}
	}